In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
clust1 = pd.read_csv('wBiosTest1C1.csv')

In [4]:
vec= TfidfVectorizer(stop_words="english", ngram_range=(1,3))
vec.fit(clust1.Bios.values)
features = vec.transform(clust1.Bios.values)

In [5]:
from sklearn.cluster import MiniBatchKMeans, KMeans
clust1Bios = KMeans(init = 'k-means++', n_clusters = 2, n_init=10)
clust1Bios.fit(features)

KMeans(n_clusters=2)

In [9]:
yhat = clust1Bios.predict(features)
clust1['BioClusters'] = clust1Bios.labels_
clust1.head()

,Unnamed: 0,Bios,UserID,Year,Major_Dept,Ambition,Goals,Music,Sports,Friday_Nights,School_balance,Movie_Genres,Social_Style,Transfer,Cluster #,BioClusters
0,0,Lifelong tv trailblazer. Avid twitter buff. Aw...,5,4,7,1,1,9,5,1,3,5,1,2,1,0
1,1,Thinker. Hardcore organizer. Subtly charming s...,10,3,1,2,1,2,4,1,3,3,2,2,1,1
2,2,Tv guru. Amateur coffee scholar. Proud problem...,27,3,2,1,1,3,4,1,3,7,3,2,1,0
3,3,Problem solver. Internet geek. Coffee aficiona...,32,3,6,2,1,7,5,1,1,4,2,2,1,0
4,4,Web lover. Travel specialist. Freelance pop cu...,33,3,4,2,1,1,2,1,3,4,1,2,1,1

In [22]:
finalClust1wBios=clust1[clust1['BioClusters']==0]
# finalClust1wBios['Bios']=clust1['Bios']
finalClust1wBios.head()

,Unnamed: 0,Bios,UserID,Year,Major_Dept,Ambition,Goals,Music,Sports,Friday_Nights,School_balance,Movie_Genres,Social_Style,Transfer,Cluster #,BioClusters
0,0,Lifelong tv trailblazer. Avid twitter buff. Aw...,5,4,7,1,1,9,5,1,3,5,1,2,1,0
2,2,Tv guru. Amateur coffee scholar. Proud problem...,27,3,2,1,1,3,4,1,3,7,3,2,1,0
3,3,Problem solver. Internet geek. Coffee aficiona...,32,3,6,2,1,7,5,1,1,4,2,2,1,0
7,7,Tv guru. Amateur coffee scholar. Proud problem...,72,3,7,3,1,9,5,1,1,4,1,2,1,0
8,8,Problem solver. Internet geek. Coffee aficiona...,77,3,4,2,1,9,3,1,1,5,2,2,1,0

In [27]:
finalClust1wBios=clust1[clust1['BioClusters']==0]
# finalClust1wBios['Bios']=clust1['Bios']
finalClust1wBios.to_csv('FinalClusters/Clust1.csv')

In [28]:
finalClust1wBios=clust1[clust1['BioClusters']==1]
# finalClust1wBios['Bios']=clust1['Bios']
finalClust1wBios.to_csv('FinalClusters/Clust2.csv')

In [ ]:
# https://medium.com/@nisha.imagines/nlp-with-python-text-clustering-based-on-content-similarity-cae4ecffba3c