In [9]:
#defining all the imports
import requests
import pandas as pd
import time
import random
import re
import numpy as np
import _pickle as pickle
from tqdm import tqdm_notebook as tqdm
from bs4 import BeautifulSoup as bs

In [10]:
# Randomizing the refresh rate
seq = [i/10 for i in range(7,12)]

# Creating a list of bios
biolist = []

In [11]:
# Gathering bios by looping and refreshing the web page
for _ in tqdm(range(100)):
    
    # Refreshing the page
    page = requests.get("https://www.fakepersongenerator.com/user-biography-generator")
    soup = bs(page.content, features='lxml')
    
    try:
        # Getting the bios
        bios = soup.find('div', class_='row no-margin for-sign').find_all('p')

        # Adding to a list of the bios
        biolist.extend([re.findall('"([^"]*)"', i.text) for i in bios])
    except:
        pass
    
    # Sleeping 
    time.sleep(random.choice(seq))

<ipython-input-11-a7128e357625>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for _ in tqdm(range(100)):

HBox(children=(HTML(value=''), FloatProgress(value=0.0), HTML(value='')))

In [12]:
bio_df = pd.DataFrame(biolist, columns = ['Bios'])
print(bio_df.head())

qualities =['Year','Major_Dept','Ambition','Goals','Music','Sports','Friday_Nights','School_balance','Movie_Genres','Social_Style', 'Transfer']
#year(4): Freshman: 1, Sophomore:2 , Junior:3, Senior:4
#Major_dept(8): Business: 1, Education: 2, Engineering/Science: 3, Health/Human Sciences: 4, Humanities/Arts: 5, Profeesional and Global Education:6, Social Sciences: 7, Other: 8
#Ambition(3): Leading a stable life: 1, Achieving Specific Career Goals: 2, IDK:3
#Goals(2): Achievable:1, Challenging:2
# Music(10): Rock:1, Hip-Hop:2, Jazz: 3, Pop:4, Country:5, Rap:6, Heavy Metal: 7, Classical:8, Theatre:9, International: 10
#Sports(10): Basketball:1, Baseball:2, Tennis:3, Soccer:4, Dance:5, Football:6, Gynmastics:7, Lacrosse:8, Swimming/Water-Related:9, Other:10
#Friday_Nights(2): Night-in: 1, Night-out:2
#School_balance(3): 1-4hrs a day:1. 4-7 hrs a day: 2, 7+ 
#Movie_Genres(11): Action:1, Horror:2, Drama:3, Romance:4, Comedy:5, Sci-Fi:6, Thriller:7, Musical:8, Documentary:9, Anime/Cartoon:10, I dont like movies:11
#Social_Style(3):I typically initiate:1, I wait for someone else to initiate: 2, I am shy and takes me a while to warm up: 3
#Transfer(2): Yes: 1, No: 0

                                                Bios
0  Pop culture maven. Travel advocate. Wannabe co...
1  Typical internet specialist. Lifelong explorer...
2  Thinker. Award-winning web scholar. Unapologet...
3  Hardcore tv advocate. Analyst. Extreme bacon e...
4  Lifelong alcohol evangelist. Thinker. Food mav...

In [13]:
profiles = pd.DataFrame(columns = qualities)
for i in profiles:
    profiles['Year'] = np.random.randint(1,5,bio_df.shape[0])
    profiles['Major_Dept'] = np.random.randint(1,9,bio_df.shape[0])
    profiles['Ambition'] = np.random.randint(1,4,bio_df.shape[0])
    profiles['Goals'] = np.random.randint(1,3,bio_df.shape[0])
    profiles['Music'] = np.random.randint(1,11,bio_df.shape[0])
    profiles['Sports'] = np.random.randint(1,11,bio_df.shape[0])
    profiles['Friday_Nights'] = np.random.randint(1,3,bio_df.shape[0])
    profiles['School_balance'] = np.random.randint(1,4,bio_df.shape[0])
    profiles['Movie_Genres'] = np.random.randint(1,12,bio_df.shape[0])
    profiles['Social_Style'] = np.random.randint(1,4,bio_df.shape[0])
    profiles['Transfer'] = np.random.randint(1,3,bio_df.shape[0])

In [14]:
profiles

,Year,Major_Dept,Ambition,Goals,Music,Sports,Friday_Nights,School_balance,Movie_Genres,Social_Style,Transfer
0,3,7,1,2,5,5,1,1,9,3,2
1,1,8,2,1,1,3,2,2,2,2,1
2,1,8,2,2,5,8,1,2,6,3,1
3,2,2,2,2,5,6,2,2,5,2,2
4,2,6,3,1,8,7,1,1,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...
385,3,3,3,2,5,6,1,1,6,3,1
386,1,5,3,1,7,2,1,1,3,2,2
387,2,7,1,2,6,6,1,3,6,1,1
388,2,8,3,1,9,6,1,3,5,2,2
389,1,1,3,1,4,5,1,2,11,3,1

In [15]:
profileWBios = bio_df.join(profiles)
profileWBios

,Bios,Year,Major_Dept,Ambition,Goals,Music,Sports,Friday_Nights,School_balance,Movie_Genres,Social_Style,Transfer
0,Pop culture maven. Travel advocate. Wannabe co...,3,7,1,2,5,5,1,1,9,3,2
1,Typical internet specialist. Lifelong explorer...,1,8,2,1,1,3,2,2,2,2,1
2,Thinker. Award-winning web scholar. Unapologet...,1,8,2,2,5,8,1,2,6,3,1
3,Hardcore tv advocate. Analyst. Extreme bacon e...,2,2,2,2,5,6,2,2,5,2,2
4,Lifelong alcohol evangelist. Thinker. Food mav...,2,6,3,1,8,7,1,1,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
385,Infuriatingly humble bacon advocate. Webaholic...,3,3,3,2,5,6,1,1,6,3,1
386,Student. Foodaholic. Beer expert. Alcohol trai...,1,5,3,1,7,2,1,1,3,2,2
387,Tv ninja. Evil web maven. Passionate troublema...,2,7,1,2,6,6,1,3,6,1,1
388,Hipster-friendly problem solver. Coffee guru. ...,2,8,3,1,9,6,1,3,5,2,2
389,Organizer. Twitter practitioner. Certified ana...,1,1,3,1,4,5,1,2,11,3,1

In [16]:
profileWBios.to_csv('mockData.csv')
profileWBios.to_csv('Surabhi-1.csv')